<% include ../header %>

<div class="main-articles">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Columns</h2>
				<p><a class="article-submit" href="/column/new"><span class="fa fa-plus"></span> New Column</a></p>	
				<% columns.forEach(function(column){ %>
				    <div class="thing">
				    	<p><a href="/column/<%= column.slug %>"><%= column.title %></a>
				    	<span style="float:right"><a href="/column/<%= column.slug %>/edit">Edit</a></span></p>
				    </div>
			  <% }) %>
			  <div class="thing">
		    	<h5><a href="/admin/columns/">All Columns</a></h5>
		    </div>
		  </div>
			<div class="col-md-6">
				<h2>Locker Rooms</h2>
				<p><a class="article-submit" href="/lockerroom/new"><span class="fa fa-plus"></span> New Locker Room</a></p>	

				<% lockerrooms.forEach(function(lockerroom){ %>
			    <div class="thing">
			    	<p><a href="/lockerroom/<%= lockerroom.slug %>"><%= lockerroom.title %></a>
			    	<span style="float:right"><a href="/lockerroom/<%= lockerroom.slug %>/edit">Edit</a></span></p>
			    </div>
			  <% }) %>
			  <div class="thing">
		    	<h5><a href="/admin/lockerrooms/">All Lockerrooms</a></h5>
		    </div>
		  </div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2>Links</h2>
				<p><a class="article-submit" href="/link/new"><span class="fa fa-plus"></span> New Link</a></p>
				<% links.forEach(function(link){ %>

				    <div class="thing">
				    	<p><a href="/link/<%= link.slug %>/edit"><%= link.title %></a>
				    	<span style="float:right"><a href="/link/<%= link.slug %>/edit">Edit</a></span></p>
				    </div>

			  <% }) %>	

			  <div class="thing">
		    	<h5><a href="/admin/links/">All Links</a></h5>
		    </div>
			</div>
			<div class="col-md-6">
				<h2>Players</h2>
				<% players.forEach(function(player){ %>
			    <p><a href="/player/<%= player.id %>"><%= player.name %></a>
			    <span style="float:right"><a href="/player/<%= player.id %>/edit">Edit</a></span></p>
			  <% }) %>
			  <p><a href="/player/new"><span class="fa fa-plus"></span> New Player</a></p>	
		  </div>
		</div>
	</div>
</div>

<% include ../footer %>