<%= include ../header %>	
<script>window.Content = { id: <%- JSON.stringify(column.id) %>, title: <%- JSON.stringify(column.title) %>, data: <%- JSON.stringify(column.data) %> }</script>
<div id='react-content'></div>

<script src='/js/column-editor/column-edit.compiled.js' ></script>

<%= include ../footer %>