<%= include header %>
<div class="lockerroom">
	<div class="lockerroom-header" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/sansjags_backer.jpg);">
				<h1 class="title"><%= lockerroom.title %>
				<% if (locals.user) { %>
					<a href="/lockerroom/<%= lockerroom.slug %>/edit"> Edit</a>
				<% } %></h1>

	</div>

	<div class="lockerroom-controls">
		<div class="locker-author-wrap">
			<% lockerroom.lockerentries.forEach(function(entry) { %>
				<div class="author-image-wrap">
					<a href="#<%= entry.player._id %>"><div class="author-image" style="background-image: url(<%= entry.player.image_url %>)"></div></a>
				</div>
			<% });%>
		</div>		
	</div>

	<div class="lockerroom-content">
		<div class="container">
			<div class="col-md-8">
				<% lockerroom.lockerentries.forEach(function(entry) { %>
					<div class="row" id="<%= entry.player._id %>">
						<div class="lockerroom-entry">
							<div class="lockerrooom-entry-title">
								Football <span class="by">by</span> <%= entry.player.name %>
								<div class="author-image" style="background-image: url(<%= entry.player.image_url %>)"></div>
							</div>
							<div class="lockerrooom-entry-content cf">
								<% entry.data.forEach(function(item){ %>
									<% if (item.type == 'content') { %>
										<%- item.content %>
									<% } %>
									<% if (item.type == 'image') { %>
										<div class="caption-image <%= item.image_type %>">
											<img src="https://s3.amazonaws.com/footballbyfootball-dev<%= item.image_url %>" />
											<% if (item.caption) { %><p class="ap-image"><%= item.caption %></p><% } %>
										</div>
									<% } %>
								<% }); %>
							</div>
						</div>
					</div>
				<% }); %>
				<div class="row">
    			<div id="disqus_thread"></div>
					<script type="text/javascript">
			        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			        var disqus_shortname = 'footballbyfootball'; // required: replace example with your forum shortname

			        /* * * DON'T EDIT BELOW THIS LINE * * */
			        (function() {
			            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			        })();
			    </script>
			    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
			    
				</div>
			</div>
			<div class="col-md-4">
				<%= include lockerroom-sidebar %>
			</div>
		</div>
	</div>

</div>
<%= include footer %>