<%= include header %>

<div class="column">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="column-header">
					<h2 class="title"><%= column.title %>
						<% if (locals.user) { %>
							<a href="/column/<%= column.id %>/edit"> Edit</a>
						<% } %>

					 </h2>
					<p class="date"><%= column.updated_at %></p>
					<img src="https://s3.amazonaws.com/footballbyfootball-dev<%= column.main_image.image_url%>" alt="">
					<p class="ap-image"><%= column.main_image.caption %></p>
				</div>

				<div class="column-content-wrapper">
					<% column.data.forEach(function(item){ %>
						<% if (item.type == 'content') { %>
							<%- item.content %>
						<%}%>
						<% if (item.type == 'image') { %>
							<div class="caption-image">
								<img src="https://s3.amazonaws.com/footballbyfootball-dev<%= item.image_url %>" />
								<p><%= item.caption %></p>
							</div>
						<%}%>
					<% }); %>

				</div>				
			</div>
			<div class="col-md-4">
				<div class="author-badge">
					<div class="black banner right">Football <span class="by">by</span> Sage Rosenfels</div>
					<div class="author-square" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
					<div class="content">
						<p class="item">Quarterback</p>
						<p class="item">12 years in NFL</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<%= include footer %>