<div class="big-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= column.main_image.image_url %>);">
	<div class="overcast"></div>
	<div class="headline">
		<div class="white banner left">COLUMN:</div>
		<div class="inner-content">
			<div class="copy"><a href="/column/<%= column.slug %>">
				<h3><%= column.title %></h3>
			</a></div>
			<div class="byline">
				<%= column.player.name %>
				<div class="author-image" style="background-image: url(<%= column.player.image_url %>)"></div>
			</div>
		</div>
	</div>
</div>