<%= include header %>

<div class="column">
	<div class="container">
		<div class="row">
			<div class="col-md-8 <% if (column.type == 'locks' || column.type == 'wwkjd') { %> col-md-offset-2<%} %>">
				<div class="column-header">
					<div class="top clearfix">
						<h2 class="title"><%= column.title %>
							<% if (locals.user) { %>
								<a href="/column/<%= column.slug %>/edit"> Edit</a>
							<% } %>

						 </h2>
					</div>
					<% if ( column.main_image.image_url ) { %>
					<img class="column-image"src="https://s3.amazonaws.com/footballbyfootball-dev<%= column.main_image.image_url%>" alt="">
					<div class="byline">
							<% if (column.type == 'column' || column.type == 'fantasy') { %>
							<span class="player-name"><%= column.player.name %></span>
							<div class="author-image" style="background-image: url(<%= column.player.image_url %>)"></div>
							<% } %>
						</div>
					<% } %>

					<p class="date"><%= column.updated_at %></p>

				</div>



				<% if (column.main_image.caption) { %><p class="ap-image"><%= column.main_image.caption %></p><% } %>

				<% if ( column.subtitle ) { %>
					<h3 class="subtitle"><%= column.subtitle %></h3>
				<% } %>
				<div class="social-share">

			    <a href="https://twitter.com/intent/tweet?text=<%= column.title %>&amp;url=http%3A%2F%2Fwww.footballbyfootball.com%2Fcolumn%2F<%= column.slug %>"  class="social-button twitter" target="_blank">
					  <span class="fa fa-twitter"></span> Share on Twitter
					</a>

			    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.footballbyfootball.com%2Fcolumn%2F<%= column.slug %>" onclick="window.open(this.href, '', 'height=279,width=575'); return false;" class="social-button facebook">
					  <span class="fa fa-facebook"></span> Share on Facebook
					</a>

				</div>

				<div class="column-content-wrapper cf">
					<% column.data.forEach(function(item){ %>
						<% if (item.type == 'content') { %>
							<%- item.content %>
						<%}%>
						<% if (item.type == 'image') { %>
							<div class="caption-image <%= item.image_type %>">
								<img src="https://s3.amazonaws.com/footballbyfootball-dev<%= item.image_url %>" />
								<% if (item.caption) { %><p class="ap-image"><%= item.caption %></p><% } %>
							</div>
						<%}%>
						<% if (item.type == 'embed') { %>
							<%- item.content %>
						<%}%>
					<% }); %>

				</div>
			</div>
			<% if (column.type != 'locks' || column.type != 'wwkjd') { %>
			<div class="col-md-4">
				<div class="column-sidebar">
					<div class="author-badge">
						<div class="black banner right">Football <span class="by">by</span> <%= column.player.name %></div>
						<div class="author-square" style="background-image: url(<%= column.player.image_url %>)"></div>
						<div class="content">
							<%- column.player.description %>
							<!-- <a href="/writer/<%= column.player.slug %>">More From <%= column.player.name %></a> -->
						</div>
					</div>
					<div class="under-author desktop">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Column-Player Ad -->
						<ins class="adsbygoogle"
						     style="display:inline-block;width:300px;height:250px"
						     data-ad-client="ca-pub-2768251721679098"
						     data-ad-slot="2559373961"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
					<div class="under-author mobile">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Mobile Ad -->
						<ins class="adsbygoogle"
						     style="display:block"
						     data-ad-client="ca-pub-2768251721679098"
						     data-ad-slot="6838992768"
						     data-ad-format="auto"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				</div>
			</div>
			<% } %>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="social-share big">

			    <a href="https://twitter.com/intent/tweet?text=<%= column.title %>&amp;url=http%3A%2F%2Fwww.footballbyfootball.com%2Fcolumn%2F<%= column.slug %>"  class="social-button twitter" target="_blank">
					  <span class="fa fa-twitter"></span> Share on Twitter
					</a>

			    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.footballbyfootball.com%2Fcolumn%2F<%= column.slug %>" onclick="window.open(this.href, '', 'height=279,width=575'); return false;" class="social-button facebook">
					  <span class="fa fa-facebook"></span> Share on Facebook
					</a>
				</div>
			</div>
	</div>
	<div class="row">
		<div class="col-md-8">

		  <!-- <div id="disqus_thread"></div>
	    <script type="text/javascript">
	        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	        var disqus_shortname = 'footballbyfootball'; // required: replace example with your forum shortname

	        /* * * DON'T EDIT BELOW THIS LINE * * */
	        (function() {
	            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	        })();
	    </script>
	    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> -->

			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=832186156805952";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>

			<div class="fb-comments" data-href="http://footballbyfootball.com/column/<%= column.slug %>" data-numposts="5"></div>
    </div>
	</div>
</div>
</div>


<%= include footer %>
