<%= include header %>
<div class="container">
	<h1 class="main-title"><%= page_title %></h1>
</div>
<div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
					<%	columns.forEach(function(entry, index){ %>
						<div class="row small-entry">
							<div class="col-md-4 mini-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= entry.main_image.image_url %>);"></div>
							<div class="col-md-8">
								<h3><a href="/column/<%= entry.slug %>"><%= entry.title %></a></h3>
								<h5 class="grey"><%= entry.updated_at %></h5>
								<div class="byline">
									<div class="author-image" style="background-image: url(<%= entry.player.image_url %>)"></div>
									<%= entry.player.name %>
								</div>
							</div>
						</div>
					<% }); %>
			</div>
			<div class="col-md-4">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Home and Archive Skyscraper -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:300px;height:600px"
				     data-ad-client="ca-pub-2768251721679098"
				     data-ad-slot="5577095568"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
	</div>
</div>
<%= include footer %>
