<!doctype html>
<html>
<head>
	<title>Football by Football</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/app.css">
	<meta name="viewport" content="width=device-width, user-scalable=no">

	<script src="/js/jquery.1.9.min.js"></script>
	<!-- <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script> -->
	<script type="text/javascript" src="//use.typekit.net/vnz8awm.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<meta property="fb:app_id"          content="832186156805952" /> 

	<% if (locals.column) { %>
		<meta property="og:type"            content="article" /> 
		<meta property="og:url"             content="http://www.footballbyfootball.com/column/<%=column.slug %>" /> 
		<meta content="<%= column.title %>" property="og:title" />
		<% if ( column.main_image.image_url ) { %>
			<meta property="og:image"         content="https://s3.amazonaws.com/footballbyfootball-dev<%= column.main_image.image_url%>" /> 
		<% } %>
	<% } else if (locals.lockerroom) { %>
		<meta property="og:type"            content="article" /> 
		<meta property="og:url"             content="http://www.footballbyfootball.com/lockerroom/<%=lockerroom.slug %>" /> 
		<meta content="<%= lockerroom.title %>" property="og:title" />
		<meta property="og:image"         content="https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/sansjags_backer.jpg" /> 

	<% } %>

	<script type='text/javascript'>
		var googletag = googletag || {};
		googletag.cmd = googletag.cmd || [];
		(function() {
		var gads = document.createElement('script');
		gads.async = true;
		gads.type = 'text/javascript';
		var useSSL = 'https:' == document.location.protocol;
		gads.src = (useSSL ? 'https:' : 'http:') + 
		'//www.googletagservices.com/tag/js/gpt.js';
		var node = document.getElementsByTagName('script')[0];
		node.parentNode.insertBefore(gads, node);
		})();
		</script>

		<script type='text/javascript'>
		googletag.cmd.push(function() {
		googletag.defineSlot('/5702/yb_Football_By_Football', [[300, 250]], 'div-gpt-ad-1415039200042-0').addService(googletag.pubads());
		googletag.defineSlot('/5702/yb_Football_By_Football', [[728, 90]], 'div-gpt-ad-1415039200042-1').addService(googletag.pubads());
		googletag.defineSlot('/5702/yb_Football_By_Football', [[160, 600]], 'div-gpt-ad-1415039200042-2').addService(googletag.pubads());
		googletag.pubads().enableSingleRequest();
		googletag.enableServices();
		});
	</script>

</head>
<body class="<% if (locals.page_type) {%><%= page_type %><%} %>" >
	<% if (locals.page_type && page_type =='home') {%>
	<div class="masthead">
		<div class="top-banner-container">	
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- FBF Home Top -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-2768251721679098"
			     data-ad-slot="3053837563"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
		<img src="/img/logo-masthead.png" alt="" class="big-logo">
	</div>
	<%} %>

	<% if (locals.user) { %>
		<div class="adminbar">
			<div class="container">
				<a href="/admin">Admin</a>
				<a href="/column/new">New Column</a>
				<a href="/lockerroom/new">New LockerRoom</a>
				<a href="/link/new">New Link</a>
			</div>
		</div>
	<% } %>

	<div class="topbar">
		<div class="container cf">
		<% if (locals.page_type && page_type =='home') {%>
			<p class="today">Today, <%= today %></p>
		<% } else if (locals.page_type && page_type =='lockerroom') { %>
			<div class="logo"><a href="/"><img src="/img/logo-whitebanner.png" alt=""></a></div>
		<% } else { %>
			<div class="logo"><a href="/"><img src="/img/logo-blackbanner.png" alt=""></a></div>
		<% } %>
			<div class="right-side">
				<a href="/lockerrooms" class="article-links">Locker Rooms</a>
				<a href="/columns" class="article-links">Columns</a>
				<a href="https://twitter.com/FBbyFB" target="_blank" class="article-links"><span class="fa fa-twitter"></span></a>
				<a href="https://www.facebook.com/FootballByFootball"  target="_blank" class="article-links"><span class="fa fa-facebook"></span></a>
			</div>
		</div>

	</div>