<!doctype html>
<html>
<head>
	<title>Football by Football</title>
	<link rel="icon" href="/img/favicon-fbf.png">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<% if (locals.user) { %>
		<link rel="stylesheet" href="/css/trumbowyg2.css">
		<link rel="stylesheet" href="/css/ui/trumbowyg2.colors.css">
	<% } %>
	<link rel="stylesheet" href="/css/app.css">

	<meta name="viewport" content="width=device-width, user-scalable=no">

	<script src="/js/jquery.1.9.min.js"></script>

	<script src="//use.typekit.net/eas6pwy.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<meta property="fb:app_id"          content="832186156805952" />

	<% if (locals.column) { %>
		<meta property="og:type"            content="article" />
		<meta property="og:url"             content="http://www.footballbyfootball.com/column/<%=column.slug %>" />
		<meta content="<%= column.title %>" property="og:title" />
		<% if ( column.main_image.image_url ) { %>
			<meta property="og:image"         content="https://s3.amazonaws.com/footballbyfootball-dev<%= column.main_image.image_url%>" />
		<% } %>

	<% } else if (locals.lockerroom) { %>
		<meta property="og:type"            content="article" />
		<meta property="og:url"             content="http://www.footballbyfootball.com/lockerroom/<%=lockerroom.slug %>" />
		<meta content="<%= lockerroom.title %>" property="og:title" />
		<meta property="og:image"         content="https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/sansjags_backer.jpg" />

	<% } %>

	<script type='text/javascript'>
		var googletag = googletag || {};
		googletag.cmd = googletag.cmd || [];
		(function() {
		var gads = document.createElement('script');
		gads.async = true;
		gads.type = 'text/javascript';
		var useSSL = 'https:' == document.location.protocol;
		gads.src = (useSSL ? 'https:' : 'http:') +
		'//www.googletagservices.com/tag/js/gpt.js';
		var node = document.getElementsByTagName('script')[0];
		node.parentNode.insertBefore(gads, node);
		})();
	</script>

</head>
<body class="<% if (locals.page_type) {%><%= page_type %><%} %>" >
	<% if (locals.page_type && page_type =='home') {%>
	<div class="masthead">
		<div class="top-banner-container">
			<script src="https://www.googletagservices.com/tag/js/gpt.js">
				googletag.pubads().definePassback("/20893548/yb/footballbyfootball",
				[728,90]).setClickUrl("%%CLICK_URL_UNESC%%").display();
			</script>
		</div>
		<img src="/img/masthead-logo-01.png" alt="" class="big-logo">
	</div>
	<%} %>

	<% if (locals.user) { %>
		<div class="adminbar">
			<div class="container">
				<a href="/admin">Admin</a>
				<a href="/column/new">New Column</a>
				<a href="/lockerroom/new">New LockerRoom</a>
				<a href="/link/new">New Link</a>
				<a href="/logout">Logout</a>
			</div>
		</div>
	<% } %>

	<div class="topbar">
		<div class="container cf top-main">
			<% if (locals.page_type && page_type =='home') {%>
				<p class="today desktop">Today, <%= today %></p>
				<div class="logo mobile home"><a href="/"><img src="/img/logo-fullongrey.png" alt=""></a></div>
			<% } else if (locals.page_type && page_type =='lockerroom') { %>
				<div class="logo"><a href="/"><img src="/img/logo-whitebanner.png" alt=""></a></div>
			<% } else { %>
				<div class="logo tablet"><a href="/"><img src="/img/logo-blackbanner.png" alt=""></a></div>
				<div class="logo mobile"><a href="/"><img src="/img/logo-whitebanner.png" alt=""></a></div>
			<% } %>
			<div class="right-side">
				<a href="/about" class="article-links">About</a>
				<a href="/writers" class="article-links">Writers</a>
				<a href="/columns" class="article-links">Columns</a>
				<a href="/lockerrooms" class="article-links">Locker Rooms</a>
				<a href="/fantasy" class="article-links no-border">Fantasy</a>
				<span class="icon-container">
					<a href="#footer" target="_blank" class="article-links social subscribe"><span class="fa fa-envelope"></span></a>
					<a href="https://twitter.com/FBbyFB" target="_blank" class="article-links social twitter"><span class="fa fa-twitter"></span></a>
					<a href="https://www.facebook.com/FootballByFootball"  target="_blank" class="article-links social facebook"><span class="fa fa-facebook"></span></a>
				</span>
			</div>
			<div class="lines-button" type="button" role="button">
			  <span class="lines"></span>
			</div>
		</div>
	</div>
