	<%= include header %>
	<div class="main-articles">
		<div class="container">

			<% var 	tmp_date = '',
							first_date = entries[0].updated_at,
						 	tmp_day_entries = [];
						 	first = true; %>

			<div class="row">
				<div class="col-md-6">
					<% entry = entries[0]%><%= include medium-select %>
					<% entry = entries[1]%><%= include medium-select %>
				</div>
				<div class="col-md-6">
					<div class="row">
						<!-- <div class="col-md-6">
							 <% entry = entries[2]%><%= include medium-select %> \
						</div>
						<div class="col-md-6">
							<script src="https://www.googletagservices.com/tag/js/gpt.js">
								googletag.pubads().definePassback("/20893548/yb/footballbyfootball",
								[300,250]).setClickUrl("%%CLICK_URL_UNESC%%").display();
							</script>
						</div> -->
						<div class="col-md-12 podcast_wrap">
							<div class="podcast_square" id="podcast_college"></div>
							<div class="podcast_square" id="podcast_nfl"></div>
						</div>
					</div>
					<div class="row desktop">
						<% if (video.length){ %>
						<div class="col-md-12">
							<div class="embed-container">
								<iframe width="560" height="315" src="<%= video[0].video %>" frameborder="0" allowfullscreen="" kwframeid="1"></iframe>
							</div>
						</div>
						<% } else { %>
							<div class="col-md-12">
								<% entry = entries[4]%><%= include medium-select %>
							</div>
						<% } %>
					</div>
				</div>
			</div>

			<div class="row desktop">
				<hr>
				<div class="col-md-6">
					<% entry = entries[2]%><%= include medium-select %>
					<% entry = entries[3]%><%= include medium-select %>
				</div>

				<% var most_recent = entries.splice(4,8); %>
				<div class="col-md-3">
					<div class="home-column-sidebar">
						<div class="home-column-overlay"><span class="up_arrow"></span></div>
						<h2 class="lr-sidebar-title">Most Recent</h2>
						<%	most_recent.forEach(function(entry, index){ %>
							<% if (entry.type != 'lockerroom') { %>
								<h5 class="lr-sidebar-link"><a href="/column/<%= entry.slug %>"><%= entry.title %></a></h5>
							<% } else { %>
								<h5 class="lr-sidebar-link"><a href="/lockerroom/<%= entry.slug %>"><%= entry.title %></a></h5>
							<% } %>
						<% }); %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="home-column-sidebar">
						<div class="home-column-overlay"><span class="up_arrow"></span></div>
						<h2 class="lr-sidebar-title">Other News</h2>
						<% links.forEach(function(link, index){ %>
							<h5 class="lr-sidebar-link"><a href="<%= link.link %>" target="_blank"><%= link.title %></a></h5>
						<% }); %>
						<% if (links.length > 4 ) { %>
						<h5 class="lr-sidebar-link"><a href="/links">All Links</a></h5>
						<% } %>
					</div>
				</div>
			</div>

			<div class="row mobile">
				<div class="col-md-3">
					<% entry = entries[2]%><%= include medium-select %>
					<% entry = entries[3]%><%= include medium-select %>
				</div>
				<div class="col-md-3">
					<div class="home-column-sidebar expanded">
						<h2 class="lr-sidebar-title">Most Recent</h2>
						<%	most_recent.forEach(function(entry, index){ %>
							<% if (entry.type != 'lockerroom') { %>
								<h5 class="lr-sidebar-link"><a href="/column/<%= entry.slug %>"><%= entry.title %></a></h5>
							<% } else { %>
								<h5 class="lr-sidebar-link"><a href="/lockerroom/<%= entry.slug %>"><%= entry.title %></a></h5>
							<% } %>
						<% }); %>
					</div>
				</div>
			</div>

			<div class="row">
				<hr>
				<div class="col-md-8">
						<%	entries.splice(2,12).forEach(function(entry, index){ %>
							<% if (entry.type == 'lockerroom'){ %>
								<div class="small-entry cf">
									<div class="col-md-4">
										<img src="https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/sansjags_backer-small.jpg" />
									</div>
									<div class="col-md-8">
										<h3><a href="/lockerroom/<%= entry.slug %>"><%= entry.title %></a></h3>
										<h5 class="grey"><%= entry.updated_at %></h5>
										<% entry.lockerentries.forEach(function(lockerentry){ %>
											<div class="author-image" style="background-image: url(<%= lockerentry.player.image_url %>)"></div>
										<% }); %>
									</div>
								</div>
							<% } else { %>
								<div class="small-entry cf">
									<div class="col-md-4 mini-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= entry.main_image.image_url %>);">
									</div>
									<div class="col-md-8">
										<h3><a href="/column/<%= entry.slug %>"><%= entry.title %></a></h3>
										<h5 class="grey"><%= entry.updated_at %></h5>
										<div class="byline">
											<div class="author-image" style="background-image: url(<%= entry.player.image_url %>)"></div>
											<%= entry.player.name %>
										</div>
									</div>
								</div>
							<% } %>
						<% }); %>
				</div>
				<div class="col-md-4">
					<div class="under-author desktop">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Column-Player Ad -->
						<ins class="adsbygoogle"
								 style="display:inline-block;width:300px;height:250px"
								 data-ad-client="ca-pub-2768251721679098"
								 data-ad-slot="2559373961"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
					<div class="under-author mobile">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Mobile Ad -->
						<ins class="adsbygoogle"
								 style="display:block"
								 data-ad-client="ca-pub-2768251721679098"
								 data-ad-slot="6838992768"
								 data-ad-format="auto"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
						<h4><a class="article-submit" href="/archive">Archive</a></h4>
				</div>
			</div>
		</div>
	</div>
	<%= include footer %>
