	<%= include header %>
	<div class="main-articles">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="big-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[16].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= columns[16].slug %>">
									<h3><%= columns[16].title %></h3>
								</a></div>
								<div class="byline">
									<%= columns[16].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[16].player.image_url %>)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="big-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[15].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= columns[15].slug %>">
									<h3><%= columns[15].title %></h3>
								</a></div>
								<div class="byline">
									<%= columns[15].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[15].player.image_url %>)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<hr class="bottom">
				<p class="date">September 15, 2014</p>
				<div class="col-md-6">
					<div class="big-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[14].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= columns[14].slug %>">
									<h3><%= columns[14].title %></h3>
								</a></div>
								<div class="byline">
									<%= columns[14].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[14].player.image_url %>)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[13].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= columns[13].slug %>">
									<h3><%= columns[13].title %></h3>
								</a></div>
								<div class="byline">
									<%= columns[13].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[13].player.image_url %>)"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[12].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= columns[12].slug %>">
									<h3><%= columns[12].title %></h3>
								</a></div>
								<div class="byline">
									<%= columns[12].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[12].player.image_url %>)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<hr class="bottom">
				<p class="date">September 14, 2014</p>
				<div class="col-md-6">
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[11].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= columns[11].slug %>">
									<h3><%= columns[11].title %></h3>
								</a></div>
								<div class="byline">
									<%= columns[11].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[11].player.image_url %>)"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[10].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= columns[10].slug %>">
									<h3><%= columns[10].title %></h3>
								</a></div>
								<div class="byline">
									<%= columns[10].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[10].player.image_url %>)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[9].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= columns[9].slug %>">
									<h3><%= columns[9].title %></h3>
								</a></div>
								
								<div class="byline">
									<% if (columns[9].slug != 'locks-nfl-week-2') { %>
									<%= columns[9].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[9].player.image_url %>)"></div>
									<% } %>
								</div>
								
							</div>
						</div>
					</div>
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[8].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= columns[8].slug %>">
									<h3><%= columns[8].title %></h3>
								</a></div>
								
								<div class="byline">
									<% if (columns[8].slug != 'locks-nfl-week-2') { %>
									<%= columns[8].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[8].player.image_url %>)"></div>
									<% } %>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<hr class="bottom">
				<p class="date">September 13, 2014</p>
				<div class="col-md-12">
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[7].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= columns[7].slug %>">
									<h3><%= columns[7].title %></h3>
								</a></div>
								<div class="byline">
									<%= columns[7].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[7].player.image_url %>)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<hr class="bottom">
				<p class="date">September 12, 2014</p>
				<div class="col-md-6">
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[6].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= columns[6].slug %>">
									<h3><%= columns[6].title %></h3>
								</a></div>
								<div class="byline">
									<%= columns[6].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[6].player.image_url %>)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[5].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= columns[5].slug %>">
									<h3><%= columns[5].title %></h3>
								</a></div>
								<div class="byline">
									<%= columns[5].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[5].player.image_url %>)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<hr class="bottom">
				<p class="date">September 11, 2014</p>
				<div class="col-md-6">
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[4].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= columns[4].slug %>">
									<h3><%= columns[4].title %></h3>
								</a></div>
								<div class="byline">
									<%= columns[4].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[4].player.image_url %>)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="medium-article lockerroom">
						<div class="white banner right big"><h5>LOCKER ROOM:</h5></div>
						<div class="headline">
							<div class="inner-content">
								<div class="copy"><a href="/lockerroom/whos-the-best-player-you-ever-played-with"><h3>Locker Room: Who's The Best Player You Ever Played With?</h3></a></div>
							</div>
						</div>
					</div>
					<div class="locker-authors">
						<div class="locker-author-wrap">
							<div class="author-image-wrap">
								<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_jayforeman.jpg)"></div>
							</div>
							<div class="author-image-wrap">
								<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_earnestbyner.jpg)"></div>
							</div>
							<div class="author-image-wrap">
								<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_bradypoppinga.jpg)"></div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<hr class="bottom">
				<p class="date">September 10, 2014</p>
				<div class="col-md-6">
					<div class="big-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/breakdown/col-pop-break.jpg);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">BREAKDOWN:</div>
							<div class="inner-content">
								<div class="copy"><a href='/breakdown/percy-harvin-the-biggest-headache-for-seahawk-opponents'>
									<h3>Percy Harvin: The Biggest Headache For Seahawk Opponents</h3>
								</a></div>
								<div class="byline">
									Brady Poppinga
									<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_bradypoppinga.jpg)"></div>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<div class="col-md-6">
					<a href="/fantasy/week-2-the-wire"><img class="image-links" src="https://s3.amazonaws.com/footballbyfootball-dev/thinktank/col-thinktank.jpg" alt=""></a>

					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/thinktank/fan-fallout-sept10.jpg);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">FANTASY:</div>
							<div class="inner-content">
								<div class="copy"><a href="/fantasy/week-1-the-fallout">
									<h3>Fantasy Week 1 - The Fallout</h3>
								</a></div>
								<div class="byline">
									Tank Williams
									<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_tankwilliams.jpg)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<hr class="bottom">
				<p class="date">September 9, 2014</p>
				<div class="col-md-6">
					<div class="big-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[3].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= columns[3].slug %>">
									<h3><%= columns[3].title %></h3>
								</a></div>
								<div class="byline">
									<%= columns[3].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[3].player.image_url %>)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[2].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= columns[2].slug %>">
									<h3><%= columns[2].title %></h3>
								</a></div>
								<div class="byline">
									<%= columns[2].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[2].player.image_url %>)"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[1].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= columns[1].slug %>">
									<h3><%= columns[1].title %></h3>
								</a></div>
								<div class="byline">
									<%= columns[1].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[1].player.image_url %>)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<hr class="bottom">
				<p class="date">September 8, 2014</p>
				<div class="col-md-12">
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= columns[0].main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/columns/<%= columns[0].slug %>">
									<h3><%= columns[0].title %></h3>
								</a></div>
								<div class="byline">
									<%= columns[0].player.name %>
									<div class="author-image" style="background-image: url(<%= columns[0].player.image_url %>)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="col-md-6">
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/columns/col-sage-sept8.jpg);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/columns/from-bad-to-badass">
									<h3>From Bad to Badass:  Who’ll Turn the Trick in 2014?</h3>
								</a></div>
								<div class="byline">
									Sage Rosenfels
									<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<a href="/wwkjd/week-1"><img class="image-links" src="https://s3.amazonaws.com/footballbyfootball-dev/columns/col-wwkjd-w1.jpg" alt=""></a>
				</div>
			</div>



			<div class="row">
				<hr class="bottom">
				<p class="date">September 7, 2014</p>
				<div class="col-md-12">
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/columns/col-sage.jpg);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/columns/slingin-from-the-pocket">
									<h3>Slingin from the Pocket</h3>
								</a></div>
								<div class="byline">
									Sage Rosenfels
									<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a href="/locks/nfl-week-1"><img class="image-links" src="https://s3.amazonaws.com/footballbyfootball-dev/locksoftheweek/col-locks.jpg" alt=""></a>
				</div>
				<div class="col-md-6">
					<a href="/fantasy/week-1"><img class="image-links" src="https://s3.amazonaws.com/footballbyfootball-dev/thinktank/col-thinktank.jpg" alt=""></a>
				</div>
			</div>


			<div class="row">
				<hr class="bottom">
				<p class="date">September 6, 2014</p>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/columns/col-sept6.jpg);">
								<div class="overcast"></div>
								<div class="headline">
									<div class="white banner left">COLUMN:</div>
									<div class="inner-content">
										<div class="copy"><a href="/columns/how-much-gronk-al-you-can-handle-bud">
											<h3>How Much Gronk? <span class="smaller"> All You Can Handle, Bro.</span></h3>
										</a></div>
										<div class="byline">
											Matt Chatham
											<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_mattchatham.jpg)"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>




			<div class="row">
				<hr class="bottom">
				<p class="date">September 5, 2014</p>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/col-sept5.jpg)">
								<div class="overcast"></div>
								<div class="headline">
									<div class="white banner left">COLUMN:</div>
									<div class="inner-content">
										<div class="copy"><a href="/columns/reset-forgetting-the-preseason-in-the-nfl">
											<h3>Reset: Forgetting the Preseason in the NFL</h3>
										</a></div>
										<div class="byline">
											Brady Poppinga
											<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_bradypoppinga.jpg)"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article lockerroom">
								<div class="white banner right big"><h5>LOCKER ROOM:</h5></div>
								<div class="headline">
									<div class="inner-content">
										<div class="copy"><a href="/lockerroom/favorite-friday-food-in-the-nfl"><h3>Favorite Friday Food in the NFL</h3></a></div>
									</div>
								</div>
							</div>
							<div class="locker-authors">
								<div class="locker-author-wrap">
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_tankwilliams.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_greyruegamerr.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_earnestbyner.jpg)"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<hr class="bottom">
				<p class="date">September 4, 2014</p>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/columns/col-chrissnee.jpg)">
								<div class="overcast"></div>
								<div class="headline">
									<div class="white banner left">COLUMN:</div>
									<div class="inner-content">
										<div class="copy"><a href="/columns/making-it-to-week-1-in-the-nfl"><h3>Making it to Week 1 in the NFL</h3></a></div>
										<div class="byline">
											Chris Snee
											<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_chrissnee.jpg)"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article lockerroom">
								<div class="white banner right big"><h5>LOCKER ROOM:</h5></div>
								<div class="headline">
									<div class="inner-content">
										<div class="copy"><a href="/lockerroom/what-do-you-make-of-the-new-illegal-contact-emphasis"><h3>What Do You Make of the New Illegal Contact "Emphasis"?</h3></a></div>
									</div>
								</div>
							</div>
							<div class="locker-authors">
								<div class="locker-author-wrap">
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_mattchatham.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_drewbennett.jpg)"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<hr class="bottom">
				<p class="date">September 3, 2014</p>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/columns/col-derekcarr.jpg)">
								<div class="overcast"></div>
								<div class="headline">
									<div class="white banner left">COLUMN:</div>
									<div class="inner-content">
										<div class="copy"><a href="/columns/start-the-carr-the-case-for-starting-rookie-quarterbacks"><h3>Start the Carr:  The Case for Starting Rookie Quarterbacks</h3></a></div>
										<div class="byline">
											Brady Quinn
											<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_bradyquinn.jpg)"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article lockerroom">
								<div class="white banner right big"><h5>LOCKER ROOM:</h5></div>
								<div class="headline">
									<div class="inner-content">
										<div class="copy"><a href="/lockerroom/best-week-one-nfl-memory"><h3>Best Week One NFL Memory</h3></a></div>
									</div>
								</div>
							</div>
							<div class="locker-authors">
								<div class="locker-author-wrap">
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_mattchatham.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_bradypoppinga.jpg)"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<hr class="bottom">
				<p class="date">September 2, 2014</p>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/columns/manziel_hoyer.jpg)">
								<div class="overcast"></div>
								<div class="headline">
									<div class="white banner left">COLUMN:</div>
									<div class="inner-content">
										<div class="copy"><a href="/columns/memo-to-johnny-rookie"><h3>Memo to Johnny Rookie</h3></a></div>
										<div class="byline">
											Sage Rosenfels
											<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6" style="margin-top: 20px;">
							<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/columns/grey-pic.jpg)">
								<div class="overcast"></div>
								<div class="white banner right">COLUMN:</div>
								<div class="headline">
									<div class="inner-content">
										<div class="copy"><a href="/columns/nfl-stress-the-m-effers"><h3>NFL Stress & <br>the M-effers</h3></a></div>
										<div class="byline">
											Grey Ruegamer
											<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_greyruegamerr.jpg)"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6" style="margin-top: 20px;">
							<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/columns/dreessden-dontcallmemaybe.jpg)">
								<div class="overcast"></div>
								<div class="black banner right">COLUMN:</div>
								<div class="headline">
									<div class="inner-content">
										<div class="copy"><a href="/columns/dont-call-me-maybe"><h3>Don't Call Me Maybe</h3></a></div>
										<div class="byline">
											Joel Dreessen
											<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_joeldreessen.jpg)"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article lockerroom">
								<div class="white banner right big"><h5>LOCKER ROOM:</h5></div>
								<div class="headline">
									<div class="inner-content">
										<div class="copy"><a href="/lockerroom/making-it-through-final-roster-cuts"><h3>Making it Through Final Roster Cuts</h3></a></div>
									</div>
								</div>
							</div>
							<div class="locker-authors">
								<div class="locker-author-wrap">
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_earnestbyner.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_jayforeman.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_michaelrobinson.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_mattchatham.jpg)"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<%= include footer %>