	<%= include header %>
	<div class="main-articles">
		<div class="container">
			<div class="row">
				<% columns.forEach(function(column, index){ %>
					<% if (index = 0 ) { %>
						<div class="col-md-6">
							<div class="big-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= column.main_image.image_url %>);">
								<div class="overcast"></div>
								<div class="headline">
									<div class="white banner left">COLUMN:</div>
									<div class="inner-content">
										<div class="copy"><a href="/column/<%= column.slug %>">
											<h3><%= column.title %></h3>
										</a></div>
										<div class="byline">
											<%= column.player.name %>
											<div class="author-image" style="background-image: url(<%= column.player.image_url %>)"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% } %>
				<% }); %>

			<div class="col-md-6">
				<% columns.forEach(function(column, index){ %>
					<% if (1 < index < 3 ) { %>
							<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= column.main_image.image_url %>);">
								<div class="overcast"></div>
								<div class="headline">
									<div class="white banner left">COLUMN:</div>
									<div class="inner-content">
										<div class="copy"><a href="/column/<%= column.slug %>">
											<h3><%= column.title %></h3>
										</a></div>
										<div class="byline">
											<%= column.player.name %>
											<div class="author-image" style="background-image: url(<%= column.player.image_url %>)"></div>
										</div>
									</div>
								</div>
							</div>
					<% } %>
				<% }); %>
			</div>

			</div>

			<div class="row">
				<hr class="bottom">
				<p class="date">September 8, 2014</p>

				<% columns.forEach(function(column, index){ %>
					<% if (index == 3 ) { %>

				<div class="col-md-12">
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= column.main_image.image_url %>);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/<%= column.slug %>">
									<h3><%= column.title %></h3>
								</a></div>
								<div class="byline">
									<%= column.player.name %>
									<div class="author-image" style="background-image: url(<%= column.player.image_url %>)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

					<% } %>
				<% }); %>


				<div class="col-md-6">
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/columns/col-sage-sept8.jpg);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/from-bad-to-badass">
									<h3>From Bad to Badass:  Who’ll Turn the Trick in 2014?</h3>
								</a></div>
								<div class="byline">
									Sage Rosenfels
									<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<a href="/wwkjd/week-1"><img class="image-links" src="https://s3.amazonaws.com/footballbyfootball-dev/columns/col-wwkjd-w1.jpg" alt=""></a>
				</div>
			</div>



			<div class="row">
				<hr class="bottom">
				<p class="date">September 7, 2014</p>
				<div class="col-md-12">
					<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/columns/col-sage.jpg);">
						<div class="overcast"></div>
						<div class="headline">
							<div class="white banner left">COLUMN:</div>
							<div class="inner-content">
								<div class="copy"><a href="/column/slingin-from-the-pocket">
									<h3>Slingin from the Pocket</h3>
								</a></div>
								<div class="byline">
									Sage Rosenfels
									<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<a href="/locks/nfl-week-1"><img class="image-links" src="https://s3.amazonaws.com/footballbyfootball-dev/locksoftheweek/col-locks.jpg" alt=""></a>
					</div>
					<div class="col-md-6">
						<a href="/fantasy/week-1"><img class="image-links" src="https://s3.amazonaws.com/footballbyfootball-dev/thinktank/col-thinktank.jpg" alt=""></a>
					</div>
				</div>
			</div>


			<div class="row">
				<hr class="bottom">
				<p class="date">September 6, 2014</p>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/columns/col-sept6.jpg);">
								<div class="overcast"></div>
								<div class="headline">
									<div class="white banner left">COLUMN:</div>
									<div class="inner-content">
										<div class="copy"><a href="/column/how-much-gronk-al-you-can-handle-bud">
											<h3>How Much Gronk? <span class="smaller"> All You Can Handle, Bro.</span></h3>
										</a></div>
										<div class="byline">
											Matt Chatham
											<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_mattchatham.jpg)"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>




			<div class="row">
				<hr class="bottom">
				<p class="date">September 5, 2014</p>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/col-sept5.jpg)">
								<div class="overcast"></div>
								<div class="headline">
									<div class="white banner left">COLUMN:</div>
									<div class="inner-content">
										<div class="copy"><a href="/column/reset-forgetting-the-preseason-in-the-nfl">
											<h3>Reset: Forgetting the Preseason in the NFL</h3>
										</a></div>
										<div class="byline">
											Brady Poppinga
											<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_bradypoppinga.jpg)"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article lockerroom">
								<div class="white banner right big"><h5>LOCKER ROOM:</h5></div>
								<div class="headline">
									<div class="inner-content">
										<div class="copy"><a href="/lockerroom/favorite-friday-food-in-the-nfl"><h3>Favorite Friday Food in the NFL</h3></a></div>
									</div>
								</div>
							</div>
							<div class="locker-authors">
								<div class="locker-author-wrap">
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_tankwilliams.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_greyruegamerr.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_earnestbyner.jpg)"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<hr class="bottom">
				<p class="date">September 4, 2014</p>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/columns/col-chrissnee.jpg)">
								<div class="overcast"></div>
								<div class="headline">
									<div class="white banner left">COLUMN:</div>
									<div class="inner-content">
										<div class="copy"><a href="/column/making-it-to-week-1-in-the-nfl"><h3>Making it to Week 1 in the NFL</h3></a></div>
										<div class="byline">
											Chris Snee
											<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_chrissnee.jpg)"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article lockerroom">
								<div class="white banner right big"><h5>LOCKER ROOM:</h5></div>
								<div class="headline">
									<div class="inner-content">
										<div class="copy"><a href="/lockerroom/what-do-you-make-of-the-new-illegal-contact-emphasis"><h3>What Do You Make of the New Illegal Contact "Emphasis"?</h3></a></div>
									</div>
								</div>
							</div>
							<div class="locker-authors">
								<div class="locker-author-wrap">
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_mattchatham.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_drewbennett.jpg)"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<hr class="bottom">
				<p class="date">September 3, 2014</p>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/columns/col-derekcarr.jpg)">
								<div class="overcast"></div>
								<div class="headline">
									<div class="white banner left">COLUMN:</div>
									<div class="inner-content">
										<div class="copy"><a href="/column/start-the-carr-the-case-for-starting-rookie-quarterbacks"><h3>Start the Carr:  The Case for Starting Rookie Quarterbacks</h3></a></div>
										<div class="byline">
											Brady Quinn
											<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_bradyquinn.jpg)"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article lockerroom">
								<div class="white banner right big"><h5>LOCKER ROOM:</h5></div>
								<div class="headline">
									<div class="inner-content">
										<div class="copy"><a href="/lockerroom/best-day-one-memory"><h3>Best Week One NFL Memory</h3></a></div>
									</div>
								</div>
							</div>
							<div class="locker-authors">
								<div class="locker-author-wrap">
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_mattchatham.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_bradypoppinga.jpg)"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<hr class="bottom">
				<p class="date">September 2, 2014</p>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/columns/manziel_hoyer.jpg)">
								<div class="overcast"></div>
								<div class="headline">
									<div class="white banner left">COLUMN:</div>
									<div class="inner-content">
										<div class="copy"><a href="/column/memo-to-johnny-rookie"><h3>Memo to Johnny Rookie</h3></a></div>
										<div class="byline">
											Sage Rosenfels
											<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6" style="margin-top: 20px;">
							<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/columns/grey-pic.jpg)">
								<div class="overcast"></div>
								<div class="white banner right">COLUMN:</div>
								<div class="headline">
									<div class="inner-content">
										<div class="copy"><a href="/column/nfl-stress-the-m-effers"><h3>NFL Stress & <br>the M-effers</h3></a></div>
										<div class="byline">
											Grey Ruegamer
											<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_greyruegamerr.jpg)"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6" style="margin-top: 20px;">
							<div class="medium-article" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/columns/dreessden-dontcallmemaybe.jpg)">
								<div class="overcast"></div>
								<div class="black banner right">COLUMN:</div>
								<div class="headline">
									<div class="inner-content">
										<div class="copy"><a href="/column/dont-call-me-maybe"><h3>Don't Call Me Maybe</h3></a></div>
										<div class="byline">
											Joel Dreessen
											<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_joeldreessen.jpg)"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="medium-article lockerroom">
								<div class="white banner right big"><h5>LOCKER ROOM:</h5></div>
								<div class="headline">
									<div class="inner-content">
										<div class="copy"><a href="/lockerroom/making-it-through-final-roster-cuts"><h3>Making it Through Final Roster Cuts</h3></a></div>
									</div>
								</div>
							</div>
							<div class="locker-authors">
								<div class="locker-author-wrap">
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_earnestbyner.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_jayforeman.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_michaelrobinson.jpg)"></div>
									</div>
									<div class="author-image-wrap">
										<div class="author-image"  style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_mattchatham.jpg)"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<%= include footer %>