	<%= include header %>
	<div class="main-articles">

		<div class="container">

			<% var 	tmp_date = '',
							first_date = entries[0].updated_at,
						 	tmp_day_entries = [];
						 	first = true; %>

			<div class="row">
				<div class="col-md-6">
					<% entry = entries[0]%><%= include big-select %>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<% entry = entries[2]%><%= include medium-select %>
						</div>
						<div class="col-md-6">
							<!-- yb_Football_By_Football -->
							<div id='div-gpt-ad-1415039200042-0'>
							<script type='text/javascript'>
							googletag.cmd.push(function() { googletag.display('div-gpt-ad-1415039200042-0'); });
							</script>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6"><% entry = entries[3]%><%= include medium-select %></div>
						<div class="col-md-6"><% entry = entries[4]%><%= include medium-select %></div>
					</div>
				</div>
			</div>

			<div class="row">
				<hr>
				<div class="col-md-6">
					<% entry = entries[1]%><%= include big-select %>
				</div>
				<div class="col-md-3">
					<div class="home-column-sidebar">
						<h2 class="lr-sidebar-title">Most Recent</h2>
						<%	entries.splice(5,10).forEach(function(entry, index){ %>
							<% if (entry.type != 'lockerroom') { %> 
								<h5 class="lr-sidebar-link"><a href="/column/<%= entry.slug %>"><%= entry.title %></a></h5>
							<% } else { %>
								<h5 class="lr-sidebar-link"><a href="/lockerroom/<%= entry.slug %>"><%= entry.title %></a></h5>
							<% } %>
						<% }); %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="home-column-sidebar">
						<h2 class="lr-sidebar-title">Other News</h2>
						<% links.forEach(function(link, index){ %>
							<h5 class="lr-sidebar-link"><a href="<%= link.link %>" target="_blank"><%= link.title %></a></h5>
						<% }); %>
						<% if (links.length > 4 ) { %>
						<h5 class="lr-sidebar-link"><a href="/links">All Links</a></h5>
						<% } %>
					</div>
				</div>
			</div>

	  	<div class="row">
			 	<hr>
			</div>
			<div class="row">
				<div class="col-md-8">
						<%	entries.filter(function(item){
									return item.updated_at != first_date;
								}).splice(0,10).forEach(function(entry, index){ %>
							<% if (entry.type == 'lockerroom'){ %>
								<div class="row small-entry">
									<div class="col-md-4">
										<img src="https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/sansjags_backer-small.jpg" />
									</div>
									<div class="col-md-8">
										<h3><a href="/lockerroom/<%= entry.slug %>"><%= entry.title %></a></h3>
										<h5 class="grey"><%= entry.updated_at %></h5>
										<% entry.lockerentries.forEach(function(lockerentry){ %>
											<div class="author-image" style="background-image: url(<%= lockerentry.player.image_url %>)"></div>
										<% }); %>
									</div>
								</div>
							<% } else { %>
								<div class="row small-entry">
									<div class="col-md-4 mini-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev<%= entry.main_image.image_url %>);">
									</div>
									<div class="col-md-8">
										<h3><a href="/column/<%= entry.slug %>"><%= entry.title %></a></h3>
										<h5 class="grey"><%= entry.updated_at %></h5>
										<div class="byline">
											<div class="author-image" style="background-image: url(<%= entry.player.image_url %>)"></div>
											<%= entry.player.name %>
										</div>
									</div>
								</div>
							<% } %>	
						<% }); %>
				</div>
				<div class="col-md-4">
					<iframe id="yb_widget_83540" frameBorder="0" scrolling=no style="width: 300px; height: 484px; border: 0px;" src="http://www.yardbarker.com/widget/ybn/83540"></iframe>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Home and Archive Skyscraper -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:300px;height:600px"
					     data-ad-client="ca-pub-2768251721679098"
					     data-ad-slot="5577095568"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>


					<!-- yb_Football_By_Football -->
					<div id='div-gpt-ad-1415039200042-2'>
					<script type='text/javascript'>
					googletag.cmd.push(function() { googletag.display('div-gpt-ad-1415039200042-2'); });
					</script>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
						<h4><a class="article-submit" href="/archive">Archive</a></h4>	
				</div>
			</div>
		</div>
	</div>
	<%= include footer %>