<%= include header %>
<div class="container">
	<h1 class="main-title">Locker Rooms</h1>
</div>
<div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
					<%	lockerrooms.forEach(function(entry, index){ %>
						<div class="row small-entry">
							<div class="col-md-4">
								<img src="https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/sansjags_backer-small.jpg" />
							</div>
							<div class="col-md-8">
								<h3><a href="/lockerroom/<%= entry.slug %>"><%= entry.title %></a></h3>
								<h5 class="grey"><%= entry.updated_at %></h5>
								<% entry.lockerentries.forEach(function(lockerentry){ %>
									<div class="author-image" style="background-image: url(<%= lockerentry.player.image_url %>)"></div>
								<% }); %>
							</div>
						</div>
					<% }); %>
			</div>
			<div class="col-md-4">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Home and Archive Skyscraper -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:300px;height:600px"
				     data-ad-client="ca-pub-2768251721679098"
				     data-ad-slot="5577095568"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
	</div>
</div>
<%= include footer %>
