	<%= include header %>
	<div class="top">
		<%= include author-card %>
	</div>

	<div class="things">
	<% if (player.instagram.token) { %>
		<% player.things.sort(function(a,b) { return parseInt(a.position) - parseInt(b.position) }).forEach( function( thing , index ){ %>
			<% if (thing.instagram) { %>
				<div class="instagram" id="thing-<%= thing._id %>" data-instagram='<%= JSON.stringify(thing) %>'>
					<img class="instagram-image" src="<%= thing.url %>"/>
					<span class="fa fa-instagram"></span>
				</div>
			<% } %>
			<% if (thing.post) { %>
				<div class="post" id="thing-<%= thing._id %>" >
					<div class="post-wrapper">
						<div class="post-sub-wrapper">
							<h3 class="title"><%= thing.title %></h3>
							<%- thing.content %>
						</div>
					</div>
				</div>
			<% } %>
		<% }); %>
	<% } %>
	</div>

	<%= include footer %>