<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:yb="http://www.yardbarker.com/rss/overview/">
  <channel>
    <title>Football by Football</title>
    <link>http://www.footballbyfootball.com/rss</link>
    <description>Insight By Players</description>
    <language>en-us</language>
    <copyright>Copyright © 2014 Football by Football, LLC. All rights reserved</copyright>
    <icon>http://www.footballbyfootball.com/img/logo-masthead.png</icon>
    <% posts.forEach(function(entry){ %>
      <item>
        <title><%= entry.title %></title>
        <% if (entry.type != 'lockerroom') { %>
          <image>
            <url><%= 'https://s3.amazonaws.com/footballbyfootball-dev' + entry.main_image.image_url %></url>
            <title><%= entry.main_image.caption %></title>
            <link><%= 'https://s3.amazonaws.com/footballbyfootball-dev' + entry.main_image.image_url %></link>
          </image>
        <% } else if (entry.type == 'lockerroom') { %>
          <image>
            <url><%= 'https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/sansjags_backer-small.jpg' %></url>
            <title><%= entry.title %></title>
            <link><%= 'https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/sansjags_backer-small.jpg'%></link>
          </image>
        <% } %>
        <description>
          <![CDATA[
            <% if (entry.type != 'lockerroom') { %>
              <% entry.data.forEach(function(content){ %>
                <% if (content.type == 'content') { %> 
                  <%- content.content %>
                <% } else if (content.type == 'image') { %>
                  <image>
                    <url><%= 'https://s3.amazonaws.com/footballbyfootball-dev' + content.image_url %></url>
                    <title><%= content.caption %></title>
                  </image>
                <% } %>
              <% }); %>
            <% } else if (entry.type == 'lockerroom') { %>
              <% entry.lockerentries.forEach(function(lockerentry){ %>
                <% lockerentry.data.forEach(function(content){ %>
                  <% if (content.type == 'content') { %> 
                    <%- content.content %>
                  <% } else if (content.type == 'image') { %>
                    <image>
                      <url><%= 'https://s3.amazonaws.com/footballbyfootball-dev' + content.image_url %></url>
                      <title><%= content.caption %></title>
                    </image>
                  <% } %>
                <% }); %>
              <% }); %>
            <% } %>
          ]]>
        </description>
        <pubDate><%= entry.updated_date %></pubDate>
        <link><%= 'http://www.footballbyfootball.com/column/' + entry.slug %></link>
        <guid><%= 'http://www.footballbyfootball.com/column/' + entry.slug %></guid>
      </item>
    <% }); %>
  </channel>
</rss>