<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
  <channel>
    <title>Football by Football</title>
    <link>http://www.footballbyfootball.com/rss</link>
    <description>Insight By Players</description>
    <language>en-us</language>
    <copyright>Copyright © 2014 Football by Football, LLC. All rights reserved</copyright>
    <image>
      <url>http://www.footballbyfootball.com/img/logo-masthead.png</url>
      <title>Football by Football</title>
      <link>http://www.footballbyfootball.com/rss</link>
    </image>
    <atom:link href="http://www.footballbyfootball.com/rss" rel="self" type="application/rss+xml" />
    <% posts.forEach(function(entry){ %>
      <item>
        <title><%= entry.title %></title>
        <% if (entry.type != 'lockerroom') { %>
          <enclosure url="<%= 'https://s3.amazonaws.com/footballbyfootball-dev' + entry.main_image.image_url %>" type="image/jpeg" />
        <% } else if (entry.type == 'lockerroom') { %>
          <enclosure url="https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/sansjags_backer-small.jpg" type="image/jpeg" />
        <% } %>
        <description type="html">
          <![CDATA[
            <% if (entry.type != 'lockerroom') { %>
              <% entry.data.forEach(function(content){ %>
                <% if (content.type == 'content') { %> 
                  <%- content.content %>
                <% } else if (content.type == 'image') { %>
                    <img
                      src="<%= 'https://s3.amazonaws.com/footballbyfootball-dev' + content.image_url %>"
                      alt="<%= content.caption %>">
                    </img>
                <% } %>
              <% }); %>
            <% } else if (entry.type == 'lockerroom') { %>
              <% entry.lockerentries.forEach(function(lockerentry){ %>
                <% lockerentry.data.forEach(function(content){ %>
                  <% if (content.type == 'content') { %> 
                    <%- content.content %>
                  <% } else if (content.type == 'image') { %>
                    <img
                      src="<%= 'https://s3.amazonaws.com/footballbyfootball-dev' + content.image_url %>"
                      alt="<%= content.caption %>">
                    </img>
                  <% } %>
                <% }); %>
              <% }); %>
            <% } %>
          ]]>
        </description>
        <pubDate><%= new Date(entry.updated_date) %></pubDate>
        <link><%= 'http://www.footballbyfootball.com/column/' + entry.slug %></link>
        <guid><%= 'http://www.footballbyfootball.com/column/' + entry.slug %></guid>
      </item>
    <% }); %>
  </channel>
</rss>