<%= include ../header %>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="link">
				<p><a href="<%= link.link %>"><%= link.title %></a></p>
				<p><a href="/link/<%= link.slug %>/edit">Edit</a></p>
			</div>
		</div>
	</div>
</div>

<%= include ../footer %>